.DS_Store
_ngo/
_xmsgs/
*.xwbt
*.xsl
*.bit
iseconfig/
*.map
*.mrp
*.ncd
*.ngm
*.xrpt
*.html
*.xml
*.bng
*.txt
*.csv
*.lso
*.ngc
*.ngd
*.bgn
*.bld
*.cmd_log
*.drc
*.xst
*.pad
*.ngr
*.twr
*.twx
*.unroutes
*.xpi
*.log
xst/
*.ptwx
*.stx
*.syr
*.ut
*.xbcd
*.par
*.pcf
*.prj